{% set grid_size = theme_var('grid-size') %}

<section 
    {% if page.header.id %} id="{{ page.header.id}}" {% endif %}
    class="section modular modular-calendar {{ page.header.classes.section}}"
>
    <section class="container {{ [page.header.classes.container, grid_size]|join(' ')}}">
        <div class="calendar-header">
            {{ content|raw }}
        </div>
    </section>
</section>