{% set grid_size = theme_var('grid-size') %}

<section class="section modular modular-content {{page.header.section.class}}"
    {% if page.header.id %}
        id="{{page.header.id}}"
    {% endif %} 
    {% if page.header.section.background_image %}
        style="background-image: url('{{page.header.section.background_image}}');"
    {% elseif page.header.section.background %}
        style="background: {{page.header.section.background_image}};"
    {% endif %}
>
    <div class="image-overlay"></div>
    <section class="container {{ [page.header.container.class, grid_size]|join(' ')}}"
        {% if page.header.container.background %}
            style='background: {{ page.header.container.background}}; background-size: cover;'
        {% endif %}
    >
        <div class="frame-box">
            <a id="{{page.header.id}}"></a>
            {{ content|raw }}
        </div>
    </section>
</section>
