{% set grid_size = theme_var('grid-size') %}
{% set container_background = page.header.container.background|default('white') %}
{% set container_color = page.header.container.color|default('inherit') %}

<a id="{{page.header.id}}"></a>
<section class="section modular modular-document {{page.header.section.class}}"
    {% if page.header.id %}
        id="{{page.header.id}}"
    {% endif %} 
    {% if page.header.section.background %}
        style="background-image: url('{{ page.header.section.background }}'); background-size: cover;"
    {% endif %}
>
    <div class="image-overlay"></div>
    <section class="container {{ [page.header.container.class, grid_size]|join(' ')}}">
        <div class="frame-box" style="background: {{container_background}}; color: {{container_color}};">
            <!-- <a id="{{page.header.id}}"></a> -->
            {{ content|raw }}
        </div>
    </section>
</section>
