{% set grid_size = theme_var('grid-size') %}

<a id="{{page.header.id}}"></a><br>
<section class="section modular modular-form {{ page.header.class }}"
    {% if page.header.id %}
        id="{{page.header.id}}"
    {% endif %} 
>
    <section
        class="container {{ [page.header.classes, grid_size]|join(' ')}}"
        {% if page.header.background %}
            style='background-image: url("{{ page.header.background }}"); background-repeat: no-repeat; background-size: 100% 105%;'
        {% endif %}
    >
        <br>
        <div class="form-header">
            {{ content|raw }}
        </div>
        <div class="frame-box"> <!-- class="g-grid pure-g-r">
            <div id="listing" class="g-block pure-u-2-3">-->
            {% include "forms/form.html.twig" %}
            <!-- </div>
            <div id="sidebar" class="g-block size-1-3 pure-u-1-3">
                { {page.content|raw} }
            </div> -->
        </div>
    </section>
</section>
