{% set grid_size = theme_var('grid-size') %}
{% set container_background = page.header.container.background|default('white') %}
{% set container_color = page.header.container.color|default('inherit') %}

<a id="{{page.header.id}}"></a>
<section class="section modular modular-document {{page.header.section.class}}"
    {% if page.header.id %}
        id="{{page.header.id}}"
    {% endif %} 
    {% if page.header.section.background %}
        style="background-image: url('{{ page.header.section.background }}'); background-size: cover;"
    {% endif %}
>
    <div class="image-overlay"></div>
    <section class="container {{ [page.header.container.class, grid_size]|join(' ')}}">
        {# Wrapped this vvv #}
        <div class="modular-row gallery-container {{ page.header.class }}">
            {{ unite_gallery(page.media.images, '{"gallery_theme":"default","slider_scale_mode": "fit"}') }}
        </div>
        {# ^^^ #}
    </section>
</section>