{% set grid_size = theme_var('grid-size') %}
{% set map = page.header.map|default('') %}
{# {% set image = page.media.images|first %} #}

<a id="{{map.id}}"></a>
<section id="{{map.id}}" class="section modular modular-map {{ page.header.class}}">
    <section class="container {{ [page.header.classes, grid_size]|join(' ')}}" {% if page.header.background %} style='background-image: url("{{ page.header.background }}"); background-repeat: no-repeat; background-size: 100% 105%;' {% endif %}>

        <div class="map-header">
            {{ content|raw }}
        </div>

        <div class="map-container">
            {% if map.embed %}
            <iframe id="map" class="embedded-map" src="{{map.embed}}" style="border: 1px solid black" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            {% elseif map.image %}
            <img src="{{map.image}}"
                {% if map.class %}
                class="{{map.class}}"
                {% endif %}
            />
            {% endif %}
        </div>

        <h5 class="map-address">
            <a href="{{header.map.link}}" style="font-weight: bold">{{header.map.address}}</a>
        </h5>


        {#<div class="columns {{ page.header.image_align|default('align-right') }}">
            {% if image %}
            <div class="column col-6 col-md-12">
                {{ content|raw }}
            </div>
            <div class="column col-6 col-md-12">
                {{ image.html|raw }}
            </div>
            {% else %}
            <div class="column col-12">
                {{ content|raw }}
            </div>
            {% endif %}
        </div> #}
    </section>
</section>
