{% set grid_size = theme_var('grid-size') %}

<section class="section modular modular-photo photo {{page.header.class}}">
    <section class="container {{grid_size}}" {# if page.header.background %} style='background-image: url("{{ page.header.background }}"); background-repeat: no-repeat; background-size: 100% 105%;' {% endif #}>
        <div class="frame-box {{page.header.classes}}">
            <a id="{{page.header.id}}"></a>
            
            {{ content|raw }}

        </div>
    </section>
</section>
