{% set grid_size = theme_var('grid-size') %}

<section class="section modular modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        <div class="frame-box">
            {{ content|raw }}
        </div>
    </section>
</section>
