<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p><em>{{title}}. </em><b>{{est}}</b><br>Website crafted w/ <i class="fa fa-heart-o pulse"></i> by {{credit}}.</p>
    </section>
</section>
