{% set styles = [] %}
{% set hero_height = page.header.hero_height %}
{% set hero_position = page.header.hero_position %}


{% if hero_image %}
    {% set styles = styles|merge(["background-image: url('" ~ hero_image.url ~ "')"]) %}
{% endif %}
{# % if hero_position %}
    {% set styles = styles|merge(["background-position:" ~ hero_position]) %}
{% endif % #}
{% if hero_height %}
    {% set styles = styles|merge(["height:" ~ hero_height]) %}
{% endif %}


<section id="{{ id }}" class="section modular-hero hero {{ page.header.hero_classes }} {{ page.header.background.parallax ? 'parallax' : '' }}" style={% if styles %}"{{ styles|join('; ') }};"{% endif %}>
    <div class="image-overlay"></div>
    <section class="container {{ grid_size }}" style="text-align: {{ page.header.hero_align|default('center') }}">
        {{ content|raw }}
    </section>
    <i id="to-start" class="pulse fa fa-angle-down"></i>
</section>
