{# % if mode == 'responsive' %#}
<span class="video-responsive video-responsive-">
    <iframe src='{{ src }}' width="640" height="480" frameborder='0' allowfullscreen
    {% if id %} id="{{ id }}" {% endif %}></iframe>
</span>

{#}
{% else %}
<div class="iframe-container"
{% if id %} id="{{ id }}" {% endif %}
>
    <iframe src='{{ src }}' width="640" height="480" frameborder='0' allowfullscreen
    {% if class %} class="{{ class }}" {% endif %}
    ></iframe>
</div>
{#% endif %#}
