<div class="table-of-contents">
    {% if page.header.table_of_contents.header %}
        <div class="contents-title">
            {{ page.header.table_of_contents.header }}
        </div>
    {% endif %}
    <ol>
        {% for md in page.header.table_of_contents.contents %}
            <li>{{ md|markdown }}</li>
        {% endfor %}
    </ol>
</div>
