@keyframes fadein {
    from { opacity: 0; }
    35% {
        opacity: 0;
    }
    to   { opacity: 1; }
}

@keyframes fadeinout {
    from { opacity: 0; }
    7.5% {
        opacity: 0;
    }
    20% { 
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    to   { opacity: 0; }
}
