
//* Preview (Blog):



section.blog-listing {
    .card-header {
        .card-title {
            .title-card {

                .author-badge {  display: none; }

                .author-title {
                    h2 {
                        margin-top: 0;
                    }

                    .p-name>a {
                        font-size: 1.5em;
                        //? color: rgba(rgb(153, 0, 0), 0.9);
                    }
                }
            }
        }
    }

    .card-body {
        a {
            //* Disable links in blog listing preview cards:
            //? pointer-events: none;
            //? cursor: default;
            //? text-decoration: none;
            color: $primary-color; //? black;
        }
    }
}

section.blog-listing {

    //* Blog Item:
    .content-title {
        background: rgba(red, 0.05);
        //min-height: 100vh;

        .title-card {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .author-badge {
                margin-top: 1em;
                margin-left: 2em;
                width: 6em;
                height: 6em;

                display: inline-block;
                border-radius: 50%;
                
                //min-width: .5rem; /* rem unit */
                //padding: 2rem 3rem; /* rem unit */
                //font-size: 75px;
                //text-align: center;
                background: rgba(#1779ba, 0.2);
                background-image: url('/img/author/committee_of_safety/badge.png');
                background-size: cover;
                color: #fefefe;
        
            }
        
            .author-title>* {
                line-height: 1em;
                padding: 0;
            }


        }

        time.dt-published {
            padding-left: 2rem;
            font-size: medium;
            font-style: bold;
            font-family: 'domine';
        }






        /* &.align-left h2 {
            text-align: left;
            //text-indent: 3em;
        } */
    }
}

