.modular-calendar {
    //padding-top: 4rem;
    //padding-bottom: 4rem;


    section.container {
        padding: 0 1em;
        &.border {
            border: 1px solid rgba(rgb(39, 39, 39), 0.25);
        }
        &.shadow { 
            box-shadow: 0 1em 2em 0 rgba(39,39,39, 0.2); 
        }
    }
  }


.fc-dayGrid-view .fc-day-number {
    padding-top: 0.3em;
}

.fc-toolbar {
    //display: flex;
    //flex-direction: row;
    //align-content: space-between;

    .fc-right,.fc-left {
        width: 8rem;
        button {
            padding: 0.2em;
        }
    }
    .fc-right {
        text-align: right;
    }
    .fc-center {
        font-size: 1.1em;
        font-weight: 900;
    }
}

@media only screen and (max-width: 830px ) {
    .fc-toolbar {
        .fc-right,.fc-left {
            button {
                padding: 0.25em;
            }
        }
        .fc-center {
            h2 {
                font-size: 1.25rem;
            }
        }

        .fc-today-button {
            font-size: 1.25rem;
        }
    }

    .fc-content {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 430px ) {
    .fc-toolbar {
        .fc-right,.fc-left {
            button {
                padding: 0.1em;
            }
        }
        .fc-center {
            h2 {
                font-size: 1rem;
            }
        }

        .fc-today-button {
            font-size: 1rem;
        }
    }

    .fc-content {
        font-size: 0.6rem;
    }
}