.modular-content {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &.full-width {
        max-width: 100vw;
        padding: 0;
        margin: 0;
        section.container {
            width: 100%;
            max-width: 100%;
            //? padding: 2.5vw;
        }
        .frame-box {
            //width: 100%;
            max-width: 900px;
            padding: 0;
            margin: 0 auto;
        }
    }

    .image-overlay {
        object-fit: cover;
    }

    &.inner-shadow .image-overlay {
        background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%);
    }
    &.inner-shadow-medium .image-overlay {
        background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,0.5) 100%);
    }
    &.inner-shadow-dark .image-overlay {
        background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%);
    }

    section.container {
        //? padding: 2rem 4rem;
        
        &.cover {
            background-size: cover;
            background-repeat: no-repeat;
            background-position:center;
        }


        &.shadow-inset {
            box-shadow: inset 0px 0px 15em black; 
        }
        &.shadow { 
            box-shadow: 0 1em 2em 0 rgba(39,39,39, 0.2); 
        }
        &.shadow.shadow-inset {
            box-shadow:
                inset 0px -1.5em 2.5em rgba(black,0.1),
                0 1em 2em rgba(39,39,39, 0.2); 
        }
        &.border {
            border: 1px solid rgba(rgb(39, 39, 39), 0.25);
        }
        &.border-rounded {
            border-radius: 0 0 23px 23px;
        }
        &.border-lens {
            border-radius: 10% / 50%;
        }
    }
  
    /* &.shadow-box .frame-box {
        background: radial-gradient(#ffffff, #fafafa);
        filter: drop-shadow(0 0 1.25rem rgba(black, 0.2));
        // border: 1px solid rgba(black, 0.25);
        padding: 2em;
    } */

    /* .frame-box {

        p {
            padding-top: 1em;

            margin: auto;
            line-height: 1.2em;

            text-align: justify;
            text-justify: newspaper;
            //text-indent: 1.5em;
            
            img {
                display: block;
                margin: auto;
            }
        }
    
        .width-full {
            p {
                max-width: 100%;
            }
        }
        .width-medium {
            p {
                max-width: 68%;
            }
        }
        .width-half {
            p {
                max-width: 50%;
            }
        }
    } */

  }