
body>#page-background {
    background: $body-bg;
}

body>#page-wrapper {
    max-width: $page-width-max;
    margin: auto;
    background: $page-bg;
    //@include background-gradient-light;
    box-shadow: 2.5vw solid #333;
}



section.limit-width {
    max-width: $page-width-max;
    margin: auto;
}




.zoom-on-hover {
    @include zoom-on-hover;
}
.offset-zoom-on-hover {
    @include offset-zoom-on-hover;
}


img { //* Image Classes:
    &.center {
        display: block;
        margin: 0 auto;
    }

    &.shadow-inner::after {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        content: '';
        box-shadow: inset 0 0 15px rgba(0,0,0,.7);
    }

    &.drop-shadow {
        filter: drop-shadow(0 0 5em crimson);
    }

    &.sticky-seal {
        z-index: 3;
        position: fixed;
        bottom: 2.5vw;
        right: 2.5vw;
        max-width: 15vw;
        min-width: 100px;
    
        animation: fadein 3.5s ease;
    }

    &.invert-color {
        filter: invert(1);
    }

    &.max-50 {
        max-width: 50vw;
    }
}




.white-background {
    background-color: white;
}


.font-color-white {
    color: white;
}
.font-stroke-heavy {
    font-weight: bolder;
}

.font-outline-black {
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: black;
}


p,h1,h2,h3,h4,h5,h6 {
    &.center {
        text-align: center;
    }
}

.columns.align-center>.column>ol,h1,h2,h3,h4,h5 {
    text-align: center;
}

.frame-box>h1,h2,h3,h4,h5 {
    margin-top: 1em; //1.5em;
}


.frame-box>.header, .e-content>.header {
    margin: 1.5em 0 1em;
    * {
        margin: 0;
        padding: 0;
    }
}

.card-body>.header {
    //? margin-top: 0;
    * {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
    }
}