section.modular-document {
   text-align: center;
   z-index: 0;

  &.inner-shadow .image-overlay {
      background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%);
  }
  &.inner-shadow-medium .image-overlay {
      background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,0.5) 100%);
  }
  &.inner-shadow-dark .image-overlay {
      background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%);
  }
}

section.modular-document>section.container {

   &.full-width {
      max-width: 100%;
   }

   &.pad-top-10 {
      padding-top: 10rem;
   }

   &.pink {
      background: rgba(pink, 0.25);
   }

   max-width: $section-container-max-width;


   .frame-box {
      @include offset-zoom-on-hover;
   }

   /* &.zoom-on-hover {
      .frame-box {
         z-index: 4;

         
      }
   }
   &.offset-zoom-on-hover {
      .frame-box {
         z-index: 4;

         @include offset-zoom-on-hover;
      }
   } */

   &.offset {
      .frame-box {
         margin: -9rem -1.4rem 2.5rem; //-3rem (-1rem - $layout-spacing) 3rem;
      }
   }

   .frame-box {
      padding-top: .5rem;
      margin: 0 0 2.5rem;
      padding: 1rem;
      //? background: #2b0725; // #fff; //$light-color;
      //? color: rgb(241, 241, 241);

      p {
         max-width: 90%;
         margin-left: auto;
         margin-right: auto;
      }

      hr {
         width: 62%;
      }
   }

   &.shadow { 
      .frame-box {
         box-shadow: 0 0 3em 0 rgba(0,0,0, 0.75);
      }
   }
   &.border {
      .frame-box {
         border: 1px solid rgba(39, 39, 39, 0.15); border-radius: 2px;
      }
   }
}

