/* @font-face {
    font-family: 'header';
    src: url('../../fonts/Bodoni-72-Smallcaps.ttf');
}

@font-face {
	font-family: 'body';
	src: url('../fonts/SortsMillGoudy-Regular.ttf'); //? IMFellDWPica-Regular.ttf');
	
	//src: url('../../alliance/fonts/SortsMillGoudy-Regular.ttf'); //? IMFellDWPica-Regular.ttf');
} */

@font-face {
	font-family: 'footer';
	src: url('../fonts/SortsMillGoudy-Regular.ttf');
}


@font-face {
	font-family: 'Bodini';
	src: url('../fonts/Bodoni-72-Smallcaps.ttf')
}

@font-face {
	font-family: 'Domine';
	src: url('../fonts/Domine-VariableFont_wght.ttf')
}


@font-face {
	font-family: 'Garamond';
	src: url('../fonts/EBGaramond-VariableFont_wght.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'Garamond';
	src: url('../fonts/EBGaramond-Italic-VariableFont_wght.ttf');
	font-style: italic;
}



@font-face {
	font-family: 'IMFell';
	src: url('../fonts/IMFellDWPica-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'IMFell';
	src: url('../fonts/IMFellDWPica-Italic.ttf');
	font-style: italic;
}
@font-face {
	font-family: 'IMFell';
	src: url('../fonts/IMFellDWPica-Italic.ttf');
	font-variant: small-caps;
}

@font-face {
	font-family: 'Playfair';
	src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'Playfair';
	src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
	font-style: italic;
}



@font-face {
	font-family: 'SortsMillGoudy';
	src: url('../fonts/SortsMillGoudy-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'SortsMillGoudy';
	src: url('../fonts/SortsMillGoudy-Italic.ttf');
	font-style: italic;
}

  /*
@font-face {
	font-family: 'body';
	src: url('../../alliance/fonts/SortsMillGoudy-Regular.ttf'); //? IMFellDWPica-Italic.ttf');
	font-style: italic;
  } */


/* @font-face{ 
	font-family: 'IM_FELL_DW_Pica_Roman';
	src: url(../fonts/IMFellDWPica-Regular.ttf);
}

@font-face{ 
	font-family: 'IM_FELL_DW_Pica_Italic';
	src: url(../fonts/IMFellDWPica-Italic.ttf);
}
@font-face {
    font-family: 'IM_FELL_Great_Primer_SC';
    src: url(../fonts/IMFellGreatPrimerSC-Regular.ttf);
} */
/**
    src: url(../fonts/WebFont.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/WebFont.woff) format('woff'),
	     url(../fonts/WebFont.ttf) format('truetype'),
	     url(../fonts/WebFont.svg#webfont) format('svg');
} **/