section#footer.section {
    background: rgba($dark-color, 0.9);
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;

    p {
        
        margin: 0;
        padding: 0;

        $width: 2px;
        margin: auto;
        max-width: 38rem;

        font-family: $footer-font-family;
        font-size: 1rem;
        font-style: normal;
        text-align: center;
        color: $light-color; //$dark-color;

        //? padding-bottom: -2px;

        strong, em {
            font-family: $footer-font-family;
            font-size: $footer-font-size;
            line-height: 1em;
            font-weight: $footer-font-weight;
        }
    }
    hr {
        color: rgba($primary-color, 1);
    }

    .divider {
        width: 62%; margin: auto;
        border-top: 1px solid rgba(39, 39, 39,0.3);
        padding-bottom: 0.5em;
    }
}