section.modular-form {
    section.container {
        max-width: 800px;
        background: #fff; //$light-color;

        //&.shadow { box-shadow: 0 0 5em 0 rgba(rgb(39, 39, 39), 0.225); }
        &.shadow { box-shadow: 0 1em 2em 0 rgba(39,39,39, 0.2); }
        &.border { border: 1px solid rgba(rgb(39, 39, 39), 0.15); border-radius: 5px; }

        .form-header {
           h1,h2,h3,h4,h5,h6 {
               margin: 0; //0.2em 0 0.4em;
           } 
        }

        .frame-box {
            margin: 0px 2.25em;
        }
    }
}



form#contact {

    input[name] {
        width: 22em;
    }

    textarea {
        width: 75%;
        height: 5em;
        min-height: 2.5em;
        max-width: 100%;
    }
    .button-wrapper {
        display:flex;
        justify-content: flex-start;

        button {
            margin-left: 0.5em;
            background: rgba(red, 0.1);
            color:  rgba(red, 0.9);
            border-color: rgba(red, 0.2);
            border-radius: 3px;
            transform: scale(0.9);
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1);
            }
        }
    }
}