*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
   height: 100%;

   box-sizing: border-box;
   font-size: $html-font-size;
   line-height: $html-line-height;
   -webkit-tap-highlight-color: transparent;

   body {
      //? background: $body-bg;
      color: $body-font-color;
      font-family: $body-font-family;
      font-weight: 500;
      font-size: $font-size;
      overflow-x: hidden;
      text-rendering: optimizeLegibility;
   
      #page-background {
         //max-width: $size-2x;

         position: fixed;
         left: 0; top: 0;
         width: 100vw; height: 100vh;
         z-index: -2;
         //background: rgb(128, 6, 6);
         box-shadow: inset 5em rgba(black,1);
         //? background: radial-gradient(ellipse at center, transparent 68%, #fff 75%, rgb(230, 228, 228) 105%);
      }

      #page-wrapper {
         //? max-width: $page-width-max;
         //? margin: auto;
         width: 100vw;

         scroll-behavior: smooth;

         section#start>section.section {
         &:last-of-type {
            padding-bottom: 5rem;
         }
         }
      }

   }
}

#body-wrapper {
   .container {
      padding: $vert-padding;
   }

   // Fixed Header solution
   .header-fixed & {
      padding-top: $header-height-large;
   }
}

.header-fixed {
   .hero + #start > #body-wrapper {
      padding-top: 0;
   }
}

section.section {
   padding-left: $horiz-padding;
   padding-right: $horiz-padding;
   position: relative;
}


#toggle.button_container:not(.active)>span {
   background: rgba(20, 20, 20, 0.9);
}
