
#unite-gallery {
    margin: auto;

    .ug-slider-wrapper{
        position:absolute;
        overflow: visible;
        z-index:1;
        //background-color:blue;
        background-color: rgba(black, 0.2);
    }
}