

// Hero
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding-top: 4rem;
    padding-bottom: 7rem;
    background-size: cover;
    background-position: center;
  
    /* h1 {
      color: $header-text-dark;
      //! font-size: 4rem;
    }
  
    h2 {
      color: rgba($header-text-dark, 0.8);
      //! font-size: 2.5rem;
    } */
  
    &.hero-fullscreen {
      min-height: 100vh;
    }
  
    &.hero-large {
      min-height: 500px;
    }
  
    &.hero-medium {
      min-height: 400px;
    }
  
    &.hero-small {
      min-height: 110px;
    }
  
    &.hero-tiny {
      min-height: 8rem;
    }
    
    .header-fixed & {
      background-position: 50% 0;
    }
  
    //&.parallax {
    //  background-attachment: fixed;
    //}
  
    @include breakpoint(md) {
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 1.75rem;
      }
    }
  
    @include breakpoint(sm) {
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.25rem;
      }
    }
  
  
    &.text-light {
      h1 {
        color: $header-text-light;
      }
      h2 {
        color: rgba($header-text-light, 0.8);
      }
    }
  
    p {
      font-size: .9rem;
      font-weight: 300;
    }
  
    #to-start {
      display: inline-block;
      position: absolute;
      bottom: 10px;
      font-size: 2rem;
      cursor: pointer;
    }
  }



section.modular-hero.hero {

    padding-top: 4rem;

    /* &:not(.parallax) {
      background-position: center;
    } */

    &.center {
      background-position: center;
    }

   /** Initial Paralax Position of Hero Image:
   //? This is buggy . . The issue is that
       The javascript immediately sets the
       background-position-y according it
       its own logic, which makes a glitch.
   **/

   // background-position-y: center;

   /* &.position-top {
       background-position-y: 0%;
   }
   &.position-bottom {
       background-position-y: 100%;
   } */




/** Inner shadow on Hero: **/
   &.inner-shadow>.image-overlay {
       z-index: 0;
       background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%);
   }
   &.inner-shadow-medium>.image-overlay {
       z-index: 0;
       background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,0.5) 100%);
   }
   &.inner-shadow-dark>.image-overlay {
       z-index: 0;
       background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%);
   }

   #to-start {
      bottom: 100px;
   }
   
   &.no-arrow>#to-start {
      display: none;
   }
}






/** Hero seal: **/
section.hero-seal>section.container {
   align-items: end;
   max-width: 95vw;
   height: 100vh;
   /** margin-right: 0; **/
}

section.hero-seal>.container>p:first-of-type {
   text-align: right;
   position: relative;
   height: 100%;
} /** ^not necessary? **/