.iframe-container {
    position: relative;
    aspect-ratio: 16 / 9;
}
.iframe-container {
    margin: 0 55px;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: scale(105%);

        background: black;
        animation: fadein 3.5s ease;

        border: 1px solid black;
        border-top: 1.5vw solid black;
        padding: 0;
        margin: 0;

        box-shadow: 0 0 5em rgba(black, 0.75);
    }
}