section.modular-map {
    padding-top: 4rem;
    padding-bottom: 4rem;

    section.container {
        &.shadow { box-shadow: 0 1em 2em 0 rgba(39,39,39, 0.2); }
        &.border { border: 1px solid rgba(rgb(39, 39, 39), 0.25); border-radius: 23px; }

        .map-header {
            text-align: center;

            * {
                margin-top: 0.4rem;
                margin-bottom: 0.4rem;
            }

            p {
                line-height: 1;
                margin: 0.2rem auto;
                padding: 0;

                //margin-left: auto;
                //margin-right: auto;
                max-width: 40em;
            }
        }

        .map-container {
            position: relative;
            aspect-ratio: 16 / 9;

            //! CHECK THIS:
            max-width: 80%;
            margin: 1em auto;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                animation: fadein 2s ease;
            }
        }

        .map-address {
            margin-top: 0.2rem;
            text-shadow: 0 1px 2.5px rgba(white, 0.5);
            transition: text-shadow 0.3s ease;
            &:hover {
                text-shadow: 0 0 2.5px rgba(white, 1);
            }
        }
    }
}