
@mixin background-gradient-light {
    background: white, radial-gradient(ellipse at center, transparent 68%, #fff 75%, rgb(230, 228, 228) 105%);
}

@mixin background-gradient-dark {
    background: radial-gradient(ellipse at center, transparent 68%, #fff 75%, rgb(230, 228, 228) 105%);
}

@mixin zoom-on-hover {
    transition: transform 1.3s ease;
    transform-style: preserve-3d;
    &:hover {
       transform: perspective(100vh) translateZ(15vh);
    }
}

@mixin offset-zoom-on-hover {
    transition: transform 1.3s ease;
    transform-style: preserve-3d;
    &:hover {
       transform: perspective(100vh) translateY(-5vh) translateZ(5vh); //translate(0, -25vh, 25vh);
    }
}