section.modular-features.photo.offset-box>section.container {
   max-width: 750px;
   background: rgba(0,0,0,0);
}
section.modular-features.photo.offset-box>section.container>.frame-box {
   background: rgb(27, 11, 6); /** rgb(5, 3, 4); /** rgb(13, 12, 23); /** #fff; **/
   padding: 0.5em 0;
   box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
   margin: -7rem -1.4rem 3rem;
   max-width: 85vw;
}
section.modular-features.photo.offset-box>section.container>.frame-box>p {
   /** max-width: 80vw; **/
   margin: auto;
   background: #fff;
   padding: 1em;
}
/** section.modular-features.photo.offset-box>section.container>.frame-box>p>img {
   width: 100%;
   height: 100%;
} **/
section.modular-features.photo.offset-box>section.container>div.frame-box>.columns {
   display: none;
}
