#sidebar {
    padding-left: 3rem;
    @include breakpoint(mobile-only) {
        padding-left: 0;
    }
    .sidebar-content {
        h4 {
            margin-bottom: 1rem;
            text-align: left;
        }
        p, ul {
            margin-top: 1rem;
        }
        margin-bottom: $padding-vert;
    }
}