/*
ol.table-of-contents {
    list-style-position: outside;
    max-width: 17em;
    margin: auto;
    transform: translateX(1.25em);
} */

/*
ol.table-of-contents>li {
    text-align: right;
    font-size: 1.35em;
} */


/*
.table-of-contents {
    // .contents-title {}

    ol {
        li>p {
            line-height: 1em;
            text-align: left;

            a,a:hover,a:visited,a:active {
                margin-left: 3em;
                &::first-line {
                    margin-left: 0em;
                }

                text-decoration: none;
                color: inherit;
            }
        }
        
    }
} */