.modular-text {
    padding-top: 4rem;
    padding-bottom: 4rem;
  
    &.shadow-box .frame-box {
        background: radial-gradient(#ffffff, #fafafa);
        filter: drop-shadow(0 0 1.25rem rgba(black, 0.2));
        // border: 1px solid rgba(black, 0.25);
        padding: 2em;
    }

    .frame-box {
        p {
            margin: auto;
            padding-top: 1em;
            max-width: 90%;
            text-align: justify;
            text-justify: newspaper;
            text-indent: 1.5em;
            line-height: 1.2em;
    
            img {
                display: block;
                margin: auto;
            }
        }
    
        .width-full {
            p {
                max-width: 100%;
            }
        }
        .width-medium {
            p {
                max-width: 68%;
            }
        }
        .width-half {
            p {
                max-width: 50%;
            }
        }
    }

  }