// Spectre Overrides
$primary-color: #0f2846 !default;
$dark-color: #121418 !default; // #454d5d !default;
$light-color: #fff !default;
$link-color: #234b7c !default;
$link-background-color: #d0db2d !default;

$gray-color: lighten($dark-color, 40%) !default;
$gray-color-dark: darken($gray-color, 25%) !default;
$border-color: lighten($dark-color, 60%) !default;
$bg-color: lighten($dark-color, 66%) !default;
$body-font-color: lighten($dark-color, 10%) !default;
$body-bg: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(204,204,204,1) 33%, rgba(204,204,204,1) 67%, rgba(51,51,51,1) 100%);
$page-bg: white;

//? linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(51,51,51,1) 100%);

// Layout
$horiz-padding: 1rem;
$vert-padding: 2rem 0 2rem;

// Fonts
$min-responsive-font-size: 16px;

// Header
$header-height-large: 3.3rem;
$header-height-small: 2.3rem;
$header-color-dark: #222;
$header-text-light: $light-color;
$header-text-dark: darken($dark-color, 15%);
$header-font-size: 1.1rem;
$header-menu-size: 1rem;

// Dropdown Menu
$dropmenu-bg: $light-color;
$dropmenu-hover-text: $primary-color;
$dropmenu-horiz-padding: 20px;
$dropmenu-vert-padding: 7px;
$dropmenu-child-padding: 10px;
$dropmenu-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

// Mobile Menu
$mobile-color-main: $primary-color;
$mobile-color-active: #FFF;
$mobile-color-link: #FFF;
$mobile-button-height: 24px;
$mobile-button-width: 28px;

// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace !default;
$fallback-font-family: 'SortsMillGoudy';

//"Helvetica Neue", sans-serif !default;


$body-font-family: 'Garamond' , serif !default;
// $body-font-family: 'Playfair', serif !default;
// $body-font-family: 'SortsMillGoudy', serif !default;

$header-font-family: 'Domine'; //'Domine', serif !default; //'Domine'

$footer-font-family: 'SortsMillGoudy', courier;
$footer-font-size: 1.3rem;
$footer-font-weight: 700;

$html-font-size: 18px !default;
$html-line-height: 1.5 !default;
$font-size: .8rem !default;
$font-size-sm: .7rem !default;
$font-size-lg: .9rem !default;
$line-height: 1.2rem !default;

$title-font-family: 'Garamond'; //? 'Playfair' 'Bodini'; //?'header'; //?, $title-font-family;


$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

// Max width:

$page-width-max: 1800px !default;

$section-container-max-width: $size-xl; //? 750px // 100%