@font-face{ 
	font-family: 'IM_FELL_DW_Pica_Roman';
	src: url(../fonts/IMFellDWPica-Regular.ttf);
}

@font-face{ 
	font-family: 'IM_FELL_DW_Pica_Italic';
	src: url(../fonts/IMFellDWPica-Italic.ttf);
}
@font-face {
    font-family: 'IM_FELL_Great_Primer_SC';
    src: url(../fonts/IMFellGreatPrimerSC-Regular.ttf);
}
/**
    src: url(../fonts/WebFont.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/WebFont.woff) format('woff'),
	     url(../fonts/WebFont.ttf) format('truetype'),
	     url(../fonts/WebFont.svg#webfont) format('svg');
} **/


img.center {
display: block;
margin: 0 auto;
}

img.shadow-inner::after
{
display: block;
position: absolute;
top: 0;
height: 100%;
width: 100%;
content: '';
box-shadow: inset 0 0 15px rgba(0,0,0,.7);
}
  
p.center,h1.center,h2.center,h3.center,h4.center,h5.center,h6.center {
text-align: center;
} 


/** Hero seal: **/
section.hero-seal>section.container {
    align-items: end;
    max-width: 95vw;
    height: 100vh;
    /** margin-right: 0; **/
}

section.hero-seal>.container>p:first-of-type {
    text-align: right;
    position: relative;
    height: 100%;
} /** ^not necessary? **/

img.sticky-seal {
    z-index: 3;
    position: fixed;
    bottom: 2.5vw;
    right: 2.5vw;
    max-width: 15vw;
    min-width: 100px;

    animation: fadein 3.5s ease;
}
@keyframes fadein {
    from { opacity: 0; }
    35% {
        opacity: 0;
    }
    to   { opacity: 1; }
}

@keyframes fadeinout {
    from { opacity: 0; }
    7.5% {
        opacity: 0;
    }
    20% { 
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    to   { opacity: 0; }
}


/** -------------------- **/


/** Inner shadow on Hero: **/
section.hero.inner-shadow-medium>.image-overlay {
    z-index: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,0.5) 100%);
}
section.hero.inner-shadow>.image-overlay {
    z-index: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%);
}
section.hero.inner-shadow-dark>.image-overlay {
    z-index: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%);
}


/** Max image width: **/
img.max-50 {
    max-width: 50vw;
}

section.modular-features.document.offset-box>section.container {
    max-width: 750px;
}
section.modular-features.document.offset-box>section.container>div.frame-box>p {
    max-width: 90%;
}
section.modular-features.document.offset-box>section.container>div.frame-box>.columns {
    display: none;
}



section.modular-features.photo.offset-box>section.container {
    max-width: 750px;
    background: rgba(0,0,0,0);
}
section.modular-features.photo.offset-box>section.container>.frame-box {
    background: rgb(27, 11, 6); /** rgb(5, 3, 4); /** rgb(13, 12, 23); /** #fff; **/
    padding: 0.5em 0;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    margin: -7rem -1.4rem 3rem;
    max-width: 85vw;
}
section.modular-features.photo.offset-box>section.container>.frame-box>p {
    /** max-width: 80vw; **/
    margin: auto;
    background: #fff;
    padding: 1em;
}
/** section.modular-features.photo.offset-box>section.container>.frame-box>p>img {
    width: 100%;
    height: 100%;
} **/
section.modular-features.photo.offset-box>section.container>div.frame-box>.columns {
    display: none;
}


.iframe-container {
    position: relative;
    aspect-ratio: 16 / 9;
}
.iframe-container>iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

section.modular-hero {
   background-position-y: center; 
}
section.modular-hero.position-top {
    background-position-y: 0%;
}
section.modular-hero.position-bottom {
    background-position-y: 100%;
}

#to-start {
    bottom: 100px;
}
section.modular-hero.no-arrow>#to-start {
    display: none;
}

.columns.align-center>.column>ol,h1,h2,h3,h4,h5 {
    text-align: center;
}

/** Table of Contents: **/
ol.table-of-contents {
    list-style-position: outside;
    max-width: 17em;
    margin: auto;
    transform: translateX(1.25em);
}
ol.table-of-contents>li {
    text-align: right;
    font-size: 1.35em;
}

p.justify {
    text-align: justify;
    text-justify: auto;
}